version: "2"
linters:
  default: all
  disable:
    - gomodguard
    - noinlineerr
    - paralleltest
[%- for l in golangci_extra_disable %]
    - [[ l ]]
[%- endfor %]
    - wsl
[%- if golangci_settings %]
  settings:
[[ golangci_settings.rstrip() | indent(4, True) ]]
[%- endif %]
  exclusions:
    rules:
      - path: _test\.go$
        linters:
[%- for l in golangci_test_exclude_linters %]
          - [[ l ]]
[%- endfor %]
[%- for rule in golangci_extra_exclusions %]
      - path: [[ rule.path ]]
        linters:
[%- for l in rule.linters %]
          - [[ l ]]
[%- endfor %]
[%- endfor %]
formatters:
  enable:
    - gci
    - gofumpt
    - goimports
    - golines
