profile: cover.out

threshold:
  total: [[ coverage_total ]]
[%- if testcoverage_overrides %]

override:
[%- for o in testcoverage_overrides %]
  - path: [[ o.path ]]
    threshold: [[ o.threshold ]]
[%- endfor %]
[%- endif %]
[%- if testcoverage_excludes %]

exclude:
  paths:
[%- for path in testcoverage_excludes %]
    - [[ path ]]
[%- endfor %]
[%- endif %]
