version: 2
[%- if goreleaser_before_hooks %]

before:
  hooks:
[%- for cmd in goreleaser_before_hooks %]
    - [[ cmd ]]
[%- endfor %]
[%- endif %]

builds:
  - env:
      - CGO_ENABLED=0
    goos:
      - linux
      - darwin
      - windows
      - freebsd
    goarch:
      - amd64
      - arm64
      - "386"
      - arm
    goarm:
      - "6"
      - "7"
    ignore:
      - goos: darwin
        goarch: "386"
      - goos: darwin
        goarch: arm
      - goos: freebsd
        goarch: arm
      - goos: freebsd
        goarch: "386"
    flags:
      - -trimpath
      - -mod=readonly
    ldflags:
      - -s -w
      - -X [[ goreleaser_version_pkg ]].version={{.Version}}

nfpms:
  - maintainer: "Hugo Haas <hugoh@hugoh.net>"
    description: "[[ project_description ]]"
    homepage: "https://github.com/hugoh/[[ project_name ]]"
    license: "MIT"
    formats:
      - deb
      - rpm
    bindir: /usr/bin
[%- if nfpm_extra_contents %]
    contents:
[%- for c in nfpm_extra_contents %]
      - src: [[ c.src ]]
        dst: [[ c.dst ]]
[%- endfor %]
[%- endif %]
[%- if has_homebrew_cask %]

homebrew_casks:
  - name: [[ project_name ]]
    repository:
      owner: hugoh
      name: homebrew-tap
      token: "{{ .Env.TAP_GITHUB_TOKEN }}"
    description: "[[ project_description ]]"
    homepage: "https://github.com/hugoh/[[ project_name ]]"
    binaries:
      - [[ project_name ]]
[%- endif %]

[%- raw %]
changelog:
  use: git
  sort: asc
  groups:
    - title: "⚠️ Breaking Changes"
      regexp: '^.*?(\w+)(\(.+\))??!:.+$'
      order: 0
    - title: Features
      regexp: '^.*?feat(\([[:word:]]+\))??!?:.+$'
      order: 1
    - title: Bug Fixes
      regexp: '^.*?fix(\([[:word:]]+\))??!?:.+$'
      order: 2
    - title: Documentation
      regexp: '^.*?docs?(\([[:word:]]+\))??!?:.+$'
      order: 3
    - title: Dependency Updates
      regexp: '^.*?(feat|fix|chore)\(deps\).*:.+$'
      order: 900
    - title: Others
      order: 999
  filters:
    exclude:
      - "^chore\\(release\\): prepare for"
      - "^chore\\(deps"
      - "Merge pull request"
      - "Merge branch"
[%- endraw %]

checksum:

snapshot:
