tag_prefix = "v"
disable_changelog = true
disable_bump_commit = true
ignore_merge_commits = true
[%- if cog_omit_types %]

[commit_types]
[%- for t in cog_omit_types %]
[[ t ]] = { omit_from_changelog = true }
[%- endfor %]
[%- endif %]
