#!/usr/bin/env bash
[%- if dev_watch %]
#MISE description="Development mode: run tests in watch mode"
[%- else %]
#MISE description="Development mode"
[%- endif %]
[%- if dev_watch %]
gotestsum --watch ./... "$@"
[%- else %]
go run . "$@"
[%- endif %]
